.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loginForm {
  display: inline-block;
  position: relative;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 20px;
  /* overflow: auto; */
  padding: 50px;
  background: inherit;

  width: 100%;
  max-width: 450px;
}

.loginForm::before {
  content: "";
  background: inherit;
  position: absolute;
  left: -20px;
  top: -20px;
  right: -20px;
  bottom: -20px;
  filter: blur(10px) brightness(0.8);
  z-index: 0;
}

.loginForm > * {
  display: block;
  margin: 10px auto !important;
  position: relative;
  z-index: 1;
}

.loginForm h3 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

.loginFormLoading {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: 100ms all;
}

.loginFormLoading.visible {
  opacity: 1;
  visibility: visible;
}

.loginFormHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--primary);
}

.signUp {
  font-weight: bold;
  font-size: 18px;
}

.attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
