.header {
  background-color: #222;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.signInOut {
  margin-left: auto !important;
  display: block;
  padding: 10px 20px !important;
}

.avatar {
  border-radius: 50%;
}
