html,
body {
  height: 100%;
  background: black;
  overflow: auto;
  margin: 0;
}

:root {
  --primary: #28afb0;
}

body {
  margin: 0;
  font-family: Jost, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Jost, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
